#navbar {
    background-color: #E43D82;
    background-image: linear-gradient(to bottom, #E43D82, #e95c97);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0 15px 1px #228936;

}


#navbar a {
    color: #FFFFFF;
}

#navbar ul { 
    font-size: 15px;
    font-family: "Baloo Bhaijaan 2", sans-serif;
}

#logo-650{
    display: none;
}

.offcanvas-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0 10px; /* Ajuste o preenchimento conforme necessário */
}

.image-container {
    position: relative;
}

.central-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateY(40px); /* Ajuste para que a imagem saia pela parte inferior */
    height: 30px; /* Ajuste a altura conforme necessário */
}



ul.navbar-nav {
    gap: 2rem;
    margin: 0 -30px; /* Adiciona margem lateral de 10px às listas */
}

.nav-link.active {
    border-bottom: 2px solid white;
}

@media screen and (max-width: 991px) {
    #logo-650{
        display: block;
        width: 40px;
        height: 40px;
        position: absolute;
        top: 100%;
        left: 5%;
        margin-top: -50px;
    }
    
    .image-container {
        display: none;
        padding: 0;
        margin: 0;
        width: 0;
        height: 0;
    }

    .sidebar.offcanvas {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }

    #offcanvasNavbar {
        background-color: #E43D82;
        justify-content: space-around;
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
    }

    .offcanvas-body {
        flex-direction: column;
        justify-content: center; /* Centraliza verticalmente */
        align-items: center; /* Centraliza horizontalmente */
        padding: 0;
        margin: 0;
        width: 300px;
    }

    #ul-bottomn{
        margin-right: 105px;
        margin-bottom: 120px;
        padding: 0;
    }


}