@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=League+Spartan:wght@100..900&family=Lexend+Deca:wght@100..900&display=swap');
@import './navbar.css';
@import './section/metedologia.css';
@import './section/home.css';
@import './section/sobrenos.css';
@import './section/servicos.css';
@import './section/agenda_precos.css';



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lexend Deca", sans-serif;
    text-decoration: none;
    /*border: 1px solid red;*/
}

body {
    background-color: #000000;
    color: #FFFFFF;
    background-image: linear-gradient(to right, #7BFBFF, #FFFFFF);
    background-repeat: no-repeat;
    overflow-x: hidden;
}



main .title {
    display: inline-block;
    padding: 50px;
    font-size: 60px;
    color: #E43D82;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgb(92, 89, 89);
}


@media screen and (max-width: 640px) {

    
    main .title {
        display: inline-block;
        padding: 17px;
        font-size: 30px;
        color: #E43D82;
        font-weight: bold;
        text-shadow: 1px 1px 3px rgb(92, 89, 89);
    }
}


@media screen and (min-width: 1007px){
    main .title {
        display: inline-block;
        padding: 40px;
        font-size: 50px;
        color: #E43D82;
        font-weight: bold;
        text-shadow: 1px 1px 3px rgb(92, 89, 89);
    }
}