#servicos{
    padding: 50px;
    background-image: linear-gradient(to right, #4152B3, #3b4db5);
}

#servicos .title{
    color: #FFFFFF;
    background-color:rgba(255, 255, 255, 0.3);
    width: 220px;
    padding: 10px 10px;
    border-top-right-radius: 80px 80px;
    border-bottom-right-radius: 80px 80px;
    display: inline-block;
}

.produtos-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 70px;
}

.produtos-container .content{
    width: 300px;
    height: 380px;
    background-color: #bac7ff;

    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.produtos-container .content h3{
    color: #FFFFFF;
    text-align: center;
    padding: 20px;
    font-weight: bold;
}


.personal{
    width: 75px;
    height: 75px;
    margin-top: -180px;
}

.pais-filhos{
    margin-top: -80px;
}

.small-group{
    margin-top: -120px ;
}

@media screen and (max-width: 640px) {
    #servicos{
        margin: 0;
        padding: 0;
    }
    
    #servicos .title{
        width: 100px;
        padding: 5px 5px;
        margin: 20px;
    }
    
    .produtos-container{
        flex-direction: column;
        align-items: center;
        margin-bottom: -100px;
    }
    
    .produtos-container .content{
        width: 200px;
        height: 290px;
        padding: 10px;
        margin-bottom: 70px;
    }
    
    .produtos-container .content h3{
        color: #FFFFFF;
        font-size: 18px;
        text-align: center;
        padding: 10px;
    }
    
    .produtos-container .content p{
        font-size: 12px;
    }
    
    .personal{
        width: 50px;
        height: 50px;
        margin-top: -130px;
    }
    
    .pais-filhos{
        width: 70px;
        margin-top: -50px;
    }
    
    .small-group{
        width: 60px;
        margin-top: -60px ;
    }
}