#sobrenos {
    position: relative;
}

#sobrenos h2 {
    color: #1165B1;
}

.sobrenos-content {
    padding: 3.125rem;
    margin: 1.875rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.sobrenos-content .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FFBC3E;
    width: 250px;
    height: 250px;
    border-radius: 40% 20% / 10% 40%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    position: relative;
    overflow: visible;
}


.sobre-nos {
    height: 650px;
    background-image: url(../../image/borda_sobrenos.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
}

.sobrenos-content img {
    position: absolute; 
    top: -35%; 
    left: 50%; 
    transform: translateX(-50%); 
    max-width: 110px;
    max-height: 110px;
}

.sobrenos-content .container p {
    text-align: center;
    font-size: 1.75rem;
    font-weight: bold;
    color: #1165B1;
}

.tia-gi, .tia-mayra {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 3.125rem;
}




.box-title {
    display: flow-root;
    position: relative; /* Necessário para posicionar .box-shadow em relação a .box-title */
    width: 300px;
    height: 75px;
    background-color: #FFFFFF;
    border: solid #000000 2px;
    border-radius: 15px;
}

.box-shadow {
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -0%); 
    z-index: -1; 
    
    border-radius: 15px;
    border: solid #000000 2px;

    width: 330px; 
    height: 55px; 
    background-color: #FCB72D;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.tia-gi .box-title h3{
    padding: 0.188rem;
    font-size: 3.438rem;
    text-align: center;
    font-family: "Bagel Fat One", system-ui;
    color: #228936;
    text-shadow: 1px 1px 3px rgb(48, 46, 46);
    z-index: 2;
}

.tia-mayra .box-title h3{
    padding: 0.188rem;
    font-size: 3.125rem;
    text-align: center;
    font-family: "Bagel Fat One", system-ui;
    color: #228936;
    text-shadow: 1px 1px 3px rgb(48, 46, 46);
}

.box-title ul{
    width: 300px;
    padding: 0.625rem;
}

.box-title li{
    font-size: 1.563rem;
    font-weight: bold;
    margin-bottom: 0.938rem;
    margin-top: 0.938rem;
}

@media screen and (max-width: 1007px){
    .sobrenos-content {
        align-items: center;
        flex-wrap: wrap;
    }

    .sobrenos-content .container{
        width: 400px;
        height: 200px;
        margin-bottom: 90px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .sobre-nos{
        height: auto;
    }

    .sobrenos-content .container p {
        text-align: center;
        font-size: 1.5rem;
        padding-top: 0;
    }

    .sobrenos-content img {
        top: 5%; 
        left: 50%; 
        transform: translateX(-50%); 
        max-width: 110px;
        max-height: 110px;
    }
}

@media screen and (max-width: 640px){

    .sobrenos-content {
        flex-direction: column; /* Altera a direção do layout para coluna */
        align-items: center;
        flex-wrap: nowrap;
    }

    .sobrenos-content .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 150px; 
        height: 150px;
        margin-bottom: 3.125rem; /* Adiciona espaço entre os containers */
    }

    .sobrenos-content img {
        position: absolute; /* Torna a imagem relativa ao container */
        top: -30%; /* Reseta a posição top */
        left: 30%; /* Reseta arem posição left */
        transform: none; /* Remove a transformação */
        margin-top: 0;
        margin-bottom: 0;
        max-width: 60px; /* Ajusta o tamanho da imagem */
        max-height: 60px; /* Ajusta o tamanho da imagem */
    }
    

    .sobrenos-content .container p {
        font-size: 1rem;
        margin-top: 0;
    }

    .nosso-time{
        margin-top: 9.375rem;
    }

    
    .tia-gi img, .tia-mayra img{
        width: 110px;
        height: 300px;
        margin-right: 3.125rem;
    }

 
    .box-title {
        width: 80px;
        height: 45px; 
    }
    
    .box-shadow {   
        width: 100px; 
        height: 35px; 
    
    }
    
    .tia-gi .box-title h3{
        padding-top: 0.625rem;
        font-size: 0.938rem;
    }
    
    .tia-mayra .box-title h3{
        font-size: 0.938rem;

        color: #228936;
    }
    
    .box-title ul{
        width: 120px;
        margin-left: -1.313rem;
    }
    
    .box-title li{
        font-size: 0.813rem;
        font-weight: bold;
    }
}